html {
  position: relative;
  min-height: 100%;
}

body {
	background-color: #cccccc;
	margin-bottom: 80px;
}

h2 {
	margin-bottom: 20px;
}

#navbar-container {
	max-width: 960px;
	width: 100%;
	margin: auto;
}

.navbar {
	border: none;
}

#ajax-nav {
	height: 80px;
	text-align: center;
	font-size: 36px;
	font-family: inherit;
	color: #ffffff;
	background-color: #00b3b3;
	padding-top: 10px;
	padding-bottom: 10px;
	border: none;
	border-bottom: 1px solid #000000;
}

#jumbotron {
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 0px;
	max-width: 960px;
	width: 95%;
	min-height: 500px;
	text-align: center;
	border: 1px solid black;
	border-radius: 4px;
	background-color: white;
}

#container {
	width: 960px;
	padding-left: 0px;
	padding-right: 0px;
}

{
	border: 1px solid black;
	background-color: #008080;
}

#submit {
	min-width: 55px;
	margin: 0 auto;
	margin: 0 5px 10px 0;
	margin-bottom: 0px;
	border: 1px solid black;
	background-color: #00b3b3;
}

button.btn.btn-primary.btn-sm.topic-btn, .topic-btn:visited {
	min-width: 55px;
	margin: 0 auto;
	margin: 0 5px 10px 0;
	margin-bottom: 10px;
	border: 1px solid black;
	background-color: #00b3b3;
}

#submit:active:focus, #submit:active:hover,
  #submit:hover, #submit:focus, #submit:active {
	border: 1px solid black;
	background-color: #008080;
}

.topic-btn:active:focus, .topic-btn:active:hover,
  .topic-btn:hover, .topic-btn:focus, .topic-btn:active {
	border: 1px solid black;
	background-color: #008080;
}

.rating {
	display: block;
	clear: both;
}

form {
	display: block;
	margin-top: 10px;
}

label {
	border: 1px solid transparent;
}

input {
	border: 1px solid black;
}

img {
	border: solid 1px black;
}

#footer {
	height: 80px;
	width: 100%;
	background-color: #00b3b3;
	border-top: 1px solid #000000;
	color: white;
    text-align: center;
    margin-top: 20px;
    padding: 25px;
    font-size: 12px;
	position: absolute;
	bottom: 0;
}